# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Fichiers Excel temporaires
*.xlsx
*.xls
~$*.xlsx
~$*.xls
master_bom_cleaned.xlsx

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log